default = "localhost"  # required if more than one host is configured and no -k switch is provided
listen_port = 0        # optional; default value is 0 meaning automatic (commandline overrides this)

[host.localhost]
# hostname = "localhost" # optional (if missing, the key is used)
username = "kodi"      # optional
password = "kodi"      # optional
port = 8080            # optional
listen_port = 0        # optional; overrides global (commandline overrides this)

[host.downstairs]
hostname = "192.168.42.6"
username = "kodi"
password = "42"

[host.oasis]
hostname = "oasis"     # use DNS or hosts

[host.gumbo]
hostname = "LibreELEC.local"
discovery = true       # use ZeroConf discover
